<div class="miryoku1">豊かな自然、美味しい食べ物、美しい景色</div>
<div class="miryoku2">あなたが見つけた四国の魅力、シェアしませんか？</div>

<div class="visual">
    <div style="text-align: center">
        <a href="img_path">
        <% @prefectures.each do |img| %>
            <% if logged_in? %>
                <a href =<%= prefecture_path(img)%>>
                <img src=<%= image_path(img.image)%>></a>
            <% else %>
                <a href ="">
                <img src=<%= image_path(img.image)%>></a>
            <% end %>
        <% end %>
	</div>
</div>